[user]
	email = sergeantsagara@protonmail.com
	name = Rahul Rameshbabu
	signingkey = 678A8DF1D9F2B51B7110BE53FF247B3E5411387B
[core]
	askPass = 
[http]
	cookiefile = /home/binary-eater/.gitcookies
[init]
	defaultBranch = trunk
[sendemail]
	confirm = always
	smtpServerPort = 1025
	smtpServer = localhost
	smtpUser = sergeantsagara@protonmail.com
	aliasesFile = /home/binary-eater/.mailrc
	aliasFileType = mailrc
[credential]
	helper = store --file ~/.config/protonmail/git-credentials
